{% extends "base.html.twig" %}

{% block title %}
	Connexion au back office
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<h1 class="mb-3">Sing in</h1>
		{{form_start(form)}}

		{{form_widget(form)}}

		<button class="btn btn-success">Sing in</button>
		{{form_end(form)}}
	</div>

{% endblock %}
